{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="body_container">

  <!--Checks gifs in data-->

  {% if not data %}
  <h2>
    No Gifs found... Please try again!
  </h2>
  {% else %}
  {% for gif in data %}
  {% include "gif.html" %}
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
<!-- Extend 'base.html' and put content into a block 'body' to match -->

<!-- Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->

<!-- Make a for loop to loop over GIFs passed in from the server -->

<!-- For each gif, include the 'gif.html' template to display it -->
